*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: rgb(240, 240, 152);
}

#panel{
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas1{
    margin: 20px auto;
    background-image: url(../bg.jpg);
    background-size: cover;
    width: 420px;
    height: 300px;
    border: 2px solid black;
}

.btn{
    margin: 5px auto;
    padding: 10px 10px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 155, 155);
    border: 2px solid black;
    width: 110px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.btn:hover{
    background-color: rgb(240, 52, 52);
}

p{
    text-align: center;
}

.fa{
    margin: 5px;
    background-color: rgb(231, 155, 155);
}
